.quote {
	color: black;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

.image {
	display: block;
	margin: 20px auto;
	width: 300px;
	/* Задайте нужный размер изображения */
	border: 5px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(45deg, red, violet);
}

.caption {
	color: black;
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
}